*{
    margin: 0px;
    padding: 0px;
    font-family: "quicksand";
}

body{
    background-color: #F8D7DA;
}

.nav_sidebar ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style-type: none;
    height: 100%;
    width: 160px;
    position:fixed;
    top: 0;
    left: 0;
    background-color: #b67c80;
}

.nav_sidebar img{
    width: 30px;
}

.nav_sidebar ul a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    display: block;
    position: relative;
    padding: 25px 0 25px 25px;
}

.nav_normal ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 300px;
    padding: 30px;
    color: rgb(0, 0, 0);
    list-style-type: none;
    font-weight: bolder;
}

.nav_normal .inicio{
    background-color: rgb(184, 119, 157);
    padding: 10px;
    border-radius: 15px;
}

.nav_normal .galeria{
    background-color: rgb(184, 119, 157);
    padding: 10px;
    border-radius: 15px;
}

.nav_normal .personajes{
    background-color: rgb(184, 119, 157);
    padding: 10px;
    border-radius: 15px;
}

.nav_normal .store{
    background-color: rgb(184, 119, 157);
    padding: 10px;
    border-radius: 15px;
}

.nav_normal .contacto{
    background-color: rgb(184, 119, 157);
    padding: 10px;
    border-radius: 15px;
}

.nav_normal a{
    color: #000000;
    text-decoration: none;
    font-weight: bolder;
}

.logo{
    width: 218px;
    display: flex;
    margin: auto;

}

.main_index{
    display: flex;
    background-color: rgb(255, 255, 255);
    max-width: 800px;
    text-align: center;
    margin: auto;
    justify-content: space-around;
}
h1{
    padding: 20px;
    font-size: xx-large;
}

h3{
    background-color: #F8D7DA;
    padding: 20px;
    text-align: left;
    font-weight: bolder;
}

.main_index a{
    color: #94666a;
    text-decoration: none;
    font-weight: bolder;
}

.intro_txt{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 10px;   
}
.origen_txt{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.apariencia_txt{
    display: flex;
    align-items: center;
    margin: 15px;
}
.apariencia_txt img{
    width: 150px;
}

.main_galeria{
    display: flex;
    background-color: rgb(255, 255, 255);
    max-width: 800px;
    text-align: center;
    margin: auto;
    justify-content: space-around;
}

.img_grid {  
    border: 1px solid black;
    display: grid;
    grid-template-columns: 240px 240px 160px 160px; 
    grid-template-rows: 180px 460px 272px 144px; 
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "img-1 img-2 img-3 img-3"
      "img-4 img-4 img-4 img-4"
      "img-5 img-6 img-7 img-8"
      "img-5 img-6 img-9 img-10";
  }
  .img_grid div{
    border: 5px solid #F8D7DA;
  }
    .img-1 { grid-area: img-1;}
    .img-2 { grid-area: img-2; }
    .img-3 { grid-area: img-3; }
    .img-4 { grid-area: img-4; }
    .img-5 { grid-area: img-5; }
    .img-6 { grid-area: img-6; }
    .img-7 { grid-area: img-7; }
    .img-8 { grid-area: img-8; }
    .img-9 { grid-area: img-9; }
   .img-10 { 
    grid-area: img-10; 
    display: flex;
    align-items: center;
    }

   .img_grid img{
    max-width: 100%;
    border-radius: 20px;
    border: 0px;
    background-color: #F8D7DA;
    box-sizing: border-box;
   }
   
  
  
 
  
  
  
  
  
  
  
  
